<div class="user-wrapper">
    <div class="user-panel">
        <img src="{$BASE_URL}/img/user.jpg" class="user-icon" />
        <div class="panel-login">{$user.login|truncate:10:"":false}</div>
        <span id="idszka">{$user.id}</span>
    </div>

    <div class="user-tools">
        <div class="calendar-starter glyphicon glyphicon-calendar"></div>
        <div class="file-upload" title="file uploader"></div>
        <div class="shutdown glyphicon glyphicon-off"></div>
        {if $user.admin == 1}<div class="user-manager-but glyphicon glyphicon-user"></div>{/if}
    </div>
    <div class="clear"></div>
    <div class="h4">
        Notebook
        <div class="add-item item-trans"><span class="glyphicon glyphicon-plus"></span></div>
        
        <!--<img src="{$BASE_URL}/img/add.png" class="add-item item-trans" title="add item" />-->
    </div>
    <div class="user-notepad">
        Your notebook is empty. You can add new item
        {include file='./user-notepad.html'}
    </div>

</div>