<div class="files-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="white-block">
                    <form id="user-data-form" method="POST" action="userform.php">
                        {include file='./change-data-form.html'}
                    </form>
                    <button class="btn btn-success trans200 save-user-data" type="text" password="0">Save</button>
                    <button class="btn btn-warning trans200 change-password-but" type="text">Change Password</button>
                    <div id="form-status" class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
