/* 
    Created on : 2015-03-07
    Author     : Ivan Dublianski
*/

/*  Base stylesheet     */
*{
    margin: 0;
    padding: 0;
}
a{ 
text-decoration: none; 
color: red; 
}
body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font: 12px/16px "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif;
background: black url(../img/wbackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
color: white;
}
.clear{
clear: both;
}
.h4{
width: 100%;
color: red !important;
text-align: center;
font: 16px/20px Tahoma;
color: #500a7d;
background: rgba(0,0,0,0.75);
position: relative;
}

/*   Web desktop styles   */
.blured{
will-change: auto;
filter: blur(2px);
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
}
.startpopup{
  will-change: opacity;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
  z-index: 2;
  display: none;
}
.onpopup{
  min-width: 430px;
  min-height: 184px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 3;
  display: none;
  padding: 35px;
}
.login-form{
max-width: 430px;
display: inline-block;
}
.registration-form{
color: #3a2e9d;
height: 100%;
width: 100%;
border: 2px solid green;
display: none;
}
.row-log{
margin-bottom: 15px;
}
.login-data{
color: #3a2e9d;
  width: 150px;
  float: left;
  text-align: right;
  font: 20px/20px Tahoma;
  margin-top: 4px;
}
.onpopup input{
width: 175px;
height: 35px;
margin-left: 10px;
color: black;
transition: 200ms;
border: 1px solid #c2c2c2;
border-radius: 50px;
box-shadow: none;
padding: 0 10px;
font-size: 14px;
box-sizing: border-box;
}
.onpopup input:focus{
border: 2px solid #3a2e9d;
color: #3a2e9d;
outline: none;
width: 225px;
}
.onpopup .submit{
border: 2px solid #3a2e9d;
border-radius: 50px;
box-sizing: border-box;
width: 200px;
height: 35px;
color: #3a2e9d;
padding: 5px;
font: 20px/20px Tahoma;
text-align: center;
cursor: pointer;
transition: all 250ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
float: left;
margin-right: 13px;
margin-bottom: 7px;
}
.onpopup .submit:hover{
color: white;
background: #3a2e9d;
}
.desktop{
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 0;
  display: none;
}
.panel-desktop{
width: 100%;
height: 25px;
position: fixed;
bottom: 0;
transition: 200ms;
}
.gradient{
will-change: opacity;
background: rgba(0,198,224,0.75);
background: -moz-linear-gradient(top, rgba(0,198,224,0.75) 0%, rgba(56,111,194,0.75) 4%, rgba(0,35,133,0.75) 60%, rgba(2,105,174,0.75) 82%, rgba(0,198,224,0.75) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,198,224,1)), color-stop(4%, rgba(56,111,194,1)), color-stop(60%, rgba(0,35,133,1)), color-stop(82%, rgba(2,105,174,1)), color-stop(100%, rgba(0,198,224,1)));
background: -webkit-linear-gradient(top, rgba(0,198,224,1) 0%, rgba(56,111,194,1) 4%, rgba(0,35,133,1) 60%, rgba(2,105,174,1) 82%, rgba(0,198,224,1) 100%);
background: -o-linear-gradient(top, rgba(0,198,224,1) 0%, rgba(56,111,194,1) 4%, rgba(0,35,133,1) 60%, rgba(2,105,174,1) 82%, rgba(0,198,224,1) 100%);
background: -ms-linear-gradient(top, rgba(0,198,224,1) 0%, rgba(56,111,194,1) 4%, rgba(0,35,133,1) 60%, rgba(2,105,174,1) 82%, rgba(0,198,224,1) 100%);
background: linear-gradient(to bottom, rgba(0,198,224,0.75) 0%, rgba(56,111,194,0.75) 4%, rgba(0,35,133,0.75) 60%, rgba(2,105,174,0.75) 82%, rgba(0,198,224,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00c6e0', GradientType=0 );
z-index: 1;
}
.panel-desktop.click{
height: 67px;
}
.panel-activator{
will-change: transform;
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
bottom: 5px;
left: 4px;
cursor: pointer;
display: block;
text-align: center;
transition: 175ms;
z-index: 1;

clear: both;
background-image: -ms-radial-gradient(right top, ellipse farthest-side, #33DAFC 0%, #023061 100%);
background-image: -moz-radial-gradient(right top, ellipse farthest-side, #33DAFC 0%, #023061 100%);
background-image: -o-radial-gradient(right top, ellipse farthest-side, #33DAFC 0%, #023061 100%);
background-image: -webkit-gradient(radial, right top, 0, right top, 971, color-stop(0, #33DAFC), color-stop(1, #023061));
background-image: -webkit-radial-gradient(right top, ellipse farthest-side, #33DAFC 0%, #023061 100%);
background-image: radial-gradient(ellipse farthest-side at right top, #33DAFC 0%, #023061 100%);

-webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
   -moz-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
     -o-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
        transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);

-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
   -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
     -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
        transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.panel-activator:hover, .panel-activator.act{
will-change: transform;
box-shadow: 0 0 10px 2px rgba(255,255,255,0.75);
background-image: -ms-radial-gradient(right top, ellipse farthest-side, #023061 0%, #33DAFC 100%);
background-image: -moz-radial-gradient(right top, ellipse farthest-side, #023061 0%, #33DAFC 100%);
background-image: -o-radial-gradient(right top, ellipse farthest-side, #023061 0%, #33DAFC 100%);
background-image: -webkit-gradient(radial, right top, 0, right top, 971, color-stop(0, #023061), color-stop(1, #33DAFC));
background-image: -webkit-radial-gradient(right top, ellipse farthest-side, #023061 0%, #33DAFC 100%);
background-image: radial-gradient(ellipse farthest-side at right top, #023061 0%, #33DAFC 100%);
transition-delay: 250ms;
color: black;
width: 55px;
height: 55px;
-ms-transform: rotate(360deg); /* IE 9 */
-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
transform: rotate(360deg);

}
.panel-activator div{
display: inline-block;
vertical-align: middle;
text-align: center;
font: 35px/35px 'algerian';
margin-top: 11px;
}
.panel-activator:hover .panel-activator div{
margin-top: 15px;
}
.user-bar{
  border: 1px solid white;
  box-sizing: border-box;
  width: 350px;
  height: calc(100% - 69px);
  position: fixed;
  bottom: 67px;
  z-index: 3;
  background: rgba(0,0,0,0.85);
  transition: all 200ms linear;
  transform: translate(-350px, 0%);
}
.user-bar.active{
transform: translate(0px, 0%);
}
.user-bar *{
box-sizing: border-box;
}
.user-wrapper{
width: 100%;
display: inline-block;
}
.panel-login{
display: block;
}
.user-panel{
  float: left;
  padding: 3px;
  overflow: hidden;
  text-align: center;
}
.user-tools{
  width: 215px;
  height: 50px;
  float: right;
}
.user-icon{
border-radius: 50%;
cursor: pointer;
}
#idszka{
display: none;
}
.user-notepad{
width: 345px;
display: inline-block;
/*height: 150px;*/
background: rgba(0,0,0,0.75);
padding: 6px 0 5px 5px;
}
.notepad-item{
border: 1px solid transparent;
border-radius: 50px;
width: 330px;
height: 25px;
margin-left: 5px;
font: 15px/21px Tahoma;
margin-bottom: 1px;
padding: 0 25px 0 15px;
overflow: hidden;
position: relative;
box-sizing: border-box;
cursor: default;
}
.item-trans{
will-change: opacity;
transition: all 100ms ease-out 100ms;
-webkit-transition: all 100ms linear 100ms;
-moz-transition: all 100ms ease-out 100ms;
-ms-transition: all 100ms ease-out 100ms;
-o-transition: all 100ms ease-out 100ms;
}
.notepad-item:hover{
border: 1px solid #500a7d;
font-size: 16px;
}
.notepad-item.act{
color: red;
border: 1px solid #500a7d;
}
.notepad-item:hover .delete-item{
opacity: 0.5;
}
.notepad-item-wrap{
  width: 305px;
  height: 25px;
  position: absolute;
  left: 0;
}
.delete-item{
  width: 15px;
  height: 15px;
  position: absolute;
  opacity: 0;
  right: 5px;
  top: 4px;
  background: url(../img/delete-s.png) no-repeat center;
}
.delete-item:hover{
border: 2px solid red;
box-sizing: border-box;
border-radius: 50%;
opacity: 1 !important;
  will-change: opacity;
  transition: all 100ms ease-out 100ms;
  -webkit-transition: all 100ms linear 100ms;
  -moz-transition: all 100ms ease-out 100ms;
  -ms-transition: all 100ms ease-out 100ms;
  -o-transition: all 100ms ease-out 100ms;
}
.add-item{
width: 20px;
height: 20px;
position: absolute;
right: 5px;
top: 5px;
opacity: 0.75;
}
.add-item:hover{
border: 2px solid white;
box-sizing: border-box;
border-radius: 50%;
opacity: 1 !important;
}
.notepad-window{
border: 7px solid #07142a;
background: white;
width: 500px;
max-height: 400px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
display: none;
z-index: 3;
color: black;
padding: 10px 0 2px 0;
overflow: hidden;

}
.wind-wrap{
  width: 491px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px 0 0 10px;;
}
.genpopup{
  will-change: opacity;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 67px;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 2;
  display: none;
}
#notepad-add{
border: 7px solid #07142a;
background: white;
width: 500px;
max-height: 400px;
/*width: 40%;
height: 40%;*/
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
display: none;
z-index: 3;
color: black;
padding: 10px 0 2px 0;
overflow: hidden;
}
.window-header{
background: #07142a;
height: 30px;
width: 510px;
position: relative;
left: -10px;
top: -10px;
}
.window-close{
width: 21px;
height: 21px;
position: absolute;
right: 15px;
top: 0px;
opacity: 0.5;
}
.window-close:hover{
border: 2px solid red;
box-sizing: border-box;
border-radius: 50%;
opacity: 1 !important;
}
.editor{
max-height: 300px;
}
.save-note{
position: absolute;
width: 21px;
height: 21px;
left: 25px;
top: 0px;
cursor: default;
background: url(../img/add-s.png) no-repeat center;
}
.save-note:hover{
border: 2px solid white;
box-sizing: border-box;
border-radius: 50%;
}
.note-title{
  width: 385px;
  height: 35px;
  margin-left: 55px;
  margin-bottom: 10px;
  color: #07142a;
  transition: 200ms;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: none;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
}
.note-title:focus{
border: 2px solid #3a2e9d;
color: #3a2e9d;
outline: none;
width: 490px;
margin-left: 5px;
}
.note-ttl{
text-align: center;
font: 16px/24px Tahoma;
font-weight: bold;
}
.file-upload{
width: 35px;
height: 25px;
display: inline-block;
background: url(../img/upload.png) no-repeat;
background-size: contain;
}
.file-upload:hover{
background: url(../img/upload2.png) no-repeat;
background-size: contain;
}