<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="onpopup text-center">
                <div class="login-form">
                    <div class="form-group">
                        <label>Nick-name:</label>
                        <input type="text" name="nickname" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" value="" />
                    </div>
                    <button class="btn btn-success submit login trans-bez-250">Login</button>
                    <button class="btn btn-info submit registration trans-bez-250">Registration</button>
                    <button class="btn btn-warning submit trans-bez-250">Forgot password ?</button>
                </div>
                <div class="clear"></div>
                <div class="registration-form">
                    <p>this is registration user form</p>
                    <div class="submit registration trans-bez-250">Registration</div>
                </div>
            </div>
        </div>
    </div>
</div>
