<div class="onpopup">
    <div class="login-form">
        <div class="row-log"> <div class="login-data">Nick-name: </div> <input style="background: white;" type='text' name='nickname' /></div>
        <div class="row-log"> <div class="login-data">Password: </div> <input style="background: white;" type='password' name='password' /></div>
        <div class="submit login">Login</div>
        <div class="submit registration">Registration</div>
        <div class="submit" style="margin-left: 107px;">Forgot password ?</div>
    </div>
    <div class="clear"></div>
    <div class="registration-form">
        <p>this is registration user form</p>
        <div class="submit registration">Registration</div>
    </div>
</div>
