<div class="onpopup">
    <div class="login-form">
        <div class="row-log"> <div class="login-data">Nick-name: </div> <input class="trans200" style="background: white;" type='text' name='nickname' /></div>
        <div class="row-log"> <div class="login-data">Password: </div> <input class="trans200" style="background: white;" type='password' name='password' /></div>
        <div class="submit login trans-bez-250">Login</div>
        <div class="submit registration trans-bez-250">Registration</div>
        <div class="submit trans-bez-250" style="margin-left: 107px;">Forgot password ?</div>
    </div>
    <div class="clear"></div>
    <div class="registration-form">
        <p>this is registration user form</p>
        <div class="submit registration trans-bez-250">Registration</div>
    </div>
</div>
